.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.switch-mode {
  position: absolute;
  top: 20px;
  margin: 20px;
  width: 50px;
  border-radius: 50%;
  right: 20px;
  z-index: 999;
}

.switch-mode button {
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--background3);
}

.switch-mode button img {
  width: 50px;
  border-radius: 50%;
}